.qodo
Zindi_Challenges/Cocoa_Disease_Competition
Zindi_Challenges/Kenya Clinical Reasoning Challenge/kenya-clinical-reasoning-challenge20250403-2095-1k6oeoj/.ipynb_checkpoints
Zindi_Challenges/Kenya Clinical Reasoning Challenge/kenya-clinical-reasoning-challenge20250403-2095-1k6oeoj/flan_t5_small_finetuned
Zindi_Challenges/Kenya Clinical Reasoning Challenge/kenya-clinical-reasoning-challenge20250403-2095-1k6oeoj/flan_t5_small_output
Zindi_Challenges/Kenya Clinical Reasoning Challenge/kenya-clinical-reasoning-challenge20250403-2095-1k6oeoj/logs
Zindi_Challenges/Kenya Clinical Reasoning Challenge/kenya-clinical-reasoning-challenge20250403-2095-1k6oeoj.zip